{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>

    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="{{ listing.title }} image">
    {% endif %}

    {% if in_watchlist %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="watchlist" class="btn btn-primary">Remove from Watchlist</button>
        </form>
    {% else %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="watchlist" class="btn btn-primary">Add to Watchlist</button>
        </form>
    {% endif %}

    <p>{{ listing.description }}</p>
    <p>Current bid: {{current_bid}}</p>

    {% if winner_message %}
        <div class="messages">
            <div class="alert alert-{{ message.tags }}">
                {{ winner_message }}
            </div>
        </div>
    {% endif %}

    {% if bid_form %}
        <form method="post">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <button type="submit" class="btn btn-primary">Place Bid</button>
        </form>
    {% endif %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if request.user == listing.seller and listing.status == 'active' %}
        <form method="POST" action="{% url 'close_bid' listing_id=listing.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Close Bid</button>
        </form>
    {% endif %}

{% endblock %}